.rootLayout{
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
.title{
    font-size: larger;
    font-weight: bold;
}
.card{
    padding: 1rem;
    margin-bottom: 1rem;
}
.fontRight{
    font-size:xx-large;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
}